@keyframes rotateY {
  to {
    transform: rotateY(360deg);
  }
}

.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 5px solid black;
  margin: auto;
  animation: rotateY 1s infinite linear;
}


@keyframes typing {
  0% {
    width: 0%;
    visibility: hidden;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
  100% {
    border-color: white;
  }
}

.typing-animation {
  animation:
    typing 2s steps(25) infinite normal,
    blink 0.7s infinite;
}
