.tangerine-regular {
  font-family: "Tangerine", serif;
  font-weight: 400;
  font-style: normal;
}

.tangerine-bold {
  font-family: "Tangerine", serif;
  font-weight: 700;
  font-style: normal;
}

.sriracha-regular {
  font-family: "Sriracha", serif;
  font-weight: 400;
  font-style: normal;
}
